.bgcabeza {
    background-color: rgb(117, 14, 28);
}
.imagentam {
    width: 15rem;
    height: 10rem;
}
footer{
    background: rgb(3, 3, 15);
    color: cornsilk;
}

.titulofooter{
    padding-top: 2em;
    padding-bottom: 4em;
    size: 2rem;
}
.icon{
    color:rgb(128, 20, 12);
}
.bg-nav{
    background-color: rgb(100, 13, 13);
}

.bg-footer{
    background-color: rgb(0, 0, 0);
}

/* fondo del banner de eventos*/ 
.fbanner{
    width: 100%;
    height: 95%;
}


/* fondo de Quienes Somos?*/ 
.somos1{
    background-image: url("https://1.bp.blogspot.com/-aNHublRbFSw/XxNzMF1sbAI/AAAAAAAACE8/dbmHnUkzD9Qk99ZD9k_mvhtzACZzW7WTQCLcBGAsYHQ/w1350-h764/EPIC%2BUNA%2BPUNO.jpg") ;
    color: aliceblue;
    width: 100%;
    height: 100%;
}
/* estilo para el texto*/ 
.quienessomos{
    text-align: justify;
    background-color: rgba(85, 12, 12, 0.589);
}

/* ESTILOS CSS DE ROY */
/* fondo transparente del carrusel de videos institucionales */
/*INDEX*/
.main-header {
    position: relative;
    background: url(../img/background.jpg);
    background-size: cover;
    min-height: 600px;
}

.background-overlay {
    position: absolute;
    background: rgba(99, 110, 114, .7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Hacer el iframe responsive */
.carousel-inner iframe {
    width: 100%;
    height: 100%;
}


/*EVENTOS*/
.main-header-eventos {
    position: relative;
    background: url(https://images.pexels.com/photos/3862379/pexels-photo-3862379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    min-height: 520px;
}

.background-overlay-eventos {
    position: absolute;
    background: rgba(255, 255, 255, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

